<div id="<%= dom_id pin %>">
  <p>
    <strong>Name:</strong>
    <%= pin.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= pin.content %>
  </p>

</div>
